# Data Processing
In this notebook, I will be loading the data necessary for this project, combining the data sources and performing initial data processing steps. I will also be performing some exploratory data analysis for the purposes of identifying missing values and outliers, which will then be followed up with the appropriate processing steps.

In [1]:
%load_ext autoreload
%autoreload 2
import nltk
import numpy as np
import os
import pandas as pd
import pdpipe as pdp
import pickle
import random
import re
import string
from collections import Counter
from functools import partial
from sklearn.feature_extraction.text import TfidfVectorizer
from tqdm import tqdm
tqdm.pandas()

In [2]:
from data.util.paths import DATA_PATH
from data.scripts.project_data import DataLoader
from data.util.environment_variables import COUNTRIES, SUPERREGIONS, REGIONS

from lib.processing import load_geoscheme_df, get_country_to_dict_mapping, encode_country_column, encode_genre_column, encode_style_column,clean_artist_column, clean_label_column, save_to_pkl, load_from_pkl, artist_ngrams, cossine_similarity, get_matches_df, label_ngrams, get_cosine_similarity_matches, get_ngrams, create_match_lookup, clean_format_text, make_market_value_col,make_format_description_column, make_format_name_column, make_format_quantity_column, make_format_text_column, expand_format_description_column, match_track_titles_to_standards

# Extracted Data
## Loading and Cleaning

In [3]:
data_loader = DataLoader()

In [4]:
extracted_data = data_loader.load_extracted_data()

In [5]:
extracted_data.head()
extracted_data.drop_duplicates('release_id',inplace=True)

In [6]:
extracted_data['market_value'] = make_market_value_col(extracted_data['median'],extracted_data['market_price'])

In [7]:
extracted_data.drop('id',inplace=True,axis=1)

In [8]:
ids_to_drop = extracted_data[extracted_data['market_value'].isnull()]['release_id']

In [9]:
extracted_data.drop(ids_to_drop.index,inplace=True)

# API Data
## Loading and Cleaning

In [10]:
api_df = data_loader.load_api_data()

In [11]:
api_df = pd.concat([api_df,api_df['title'].str.split(' - ',n=1,expand=True)],axis=1)

In [12]:
geoscheme_df = load_geoscheme_df()

In [13]:
country_to_dict_mapping = get_country_to_dict_mapping()

In [14]:
pipeline = pdp.DropDuplicates('release_id')
pipeline += pdp.ColDrop(['title','id'])
pipeline += pdp.ColRename({0: 'artist', 1: 'title'})
pipeline += pdp.ApplyByCols(['genre','style','label','formats'],pickle.loads)
pipeline += pdp.MapColVals('country',country_to_dict_mapping)

In [15]:
api_df = pipeline.apply(api_df)

In [16]:
api_df = extracted_data.merge(api_df,how='left',on='release_id')

## Encoding Country

In [ ]:
encoded_country_df = encode_country_column(api_df['country'])

In [ ]:
save_to_pkl(encoded_country_df,'country')

## Encoding Genre

In [ ]:
encoded_genre_df = encode_genre_column(api_df['genre'])

In [ ]:
save_to_pkl(encoded_genre_df,'genre')

## Encoding Style

In [ ]:
encoded_style_df = encode_style_column(api_df['style'])

In [ ]:
save_to_pkl(encoded_style_df,'style')

## Cleaning Label and Artist for Later Encoding

In [17]:
api_df['artist_clean'] = api_df['artist'].apply(clean_artist_column)
api_df['label_clean'] = api_df['label'].apply(lambda x: x[0]).apply(clean_label_column)

### Artists Cosine Similarity Matching

In [18]:
artist_matches_df = get_cosine_similarity_matches(api_df['artist_clean'],get_ngrams)
artist_matches_df

,left_side,right_side,similarity
4,benny goodman benny goodman quartet benny goodman,benny goodman,0.941538
5,benny goodman benny goodman quartet benny goodman,benny goodman benny goodman sextet,0.921802
6,benny goodman benny goodman quartet benny goodman,benny goodman quartet,0.902357
9,benny goodman,benny goodman benny goodman quartet benny goodman,0.941538
10,benny goodman,benny goodman benny goodman sextet,0.921013
...,...,...,...
9894,wynton marsalis branford marsalis ellis marsalis,ellis marsalis branford marsalis,0.939691
9895,wynton marsalis branford marsalis ellis marsalis,wynton marsalis ellis marsalis,0.931852
9930,abdullah ibrahim,abdullah ibrahim trio,0.905000
9955,masahiko togashi richard beirach,richard beirach masahiko togashi,0.906908
9989,monty sunshine jazz,monty sunshine,0.904366

In [19]:
artist_match_lookup = create_match_lookup(artist_matches_df)

#Check that all lookup values are final nodes
for key, value in artist_match_lookup.items():
    try:
        assert artist_match_lookup[value] == value
    except KeyError:
        continue
        
#Convert artist names to best compressed value according to match lookup table
api_df['artist_clean'] = api_df['artist_clean'].apply(lambda x: artist_match_lookup[x] if artist_match_lookup.get(x) else x)

### Label Cosine Similarity Matching

In [20]:
label_matches_df = get_cosine_similarity_matches(api_df['label_clean'],get_ngrams)
label_matches_df

            left_side          right_side  similarity
8             general            generali    0.921196
32          signature            signatur    0.941035
64           atlantic           atlantica    0.950156
65           atlantic             atlanti    0.929364
72    custom fidelity  custom fidelity co    0.914510
...               ...                 ...         ...
9613          digital            digitali    0.923328
9622        boriginal            original    0.910276
9855           apollo             apollon    0.901117
9920             hush             hushush    0.935384
9960            ionyx                onyx    0.941547

[179 rows x 3 columns]

In [21]:
label_match_lookup = create_match_lookup(label_matches_df)
label_match_lookup

{'generali': 'general',
 'atlantica': 'atlanti',
 'custom fidelity co': 'custom fidelity',
 'summitt': 'summit',
 'pp polskie nagrania muza': 'polskie nagrania muza',
 'pantone': 'panton',
 'marista': 'arista',
 'gruppo editoriale lespresso spa': 'gruppo editoriale lespresso',
 'membrane': 'membran',
 'polskie radio sa': 'polskie radio',
 'emivalentim de carvalho': 'valentim de carvalho',
 'universal international bv': 'universal international',
 'americana': 'america',
 'genuine': 'genuin',
 'tokuma japan co': 'tokuma japan',
 'avanguard': 'vanguard',
 'norman': 'norma',
 'bel aire': 'bel air',
 'higher octave jazz': 'higher octave',
 'beggars banquet u': 'beggars banquet',
 'hermitage': 'ermitage',
 'wydawnictwo a': 'wydawnictwo',
 'unisono': 'unison',
 'outsider': 'outside',
 'dover': 'dove',
 'ionyx': 'onyx',
 'signature': 'signatur',
 'royale': 'royal',
 'spirale': 'spiral',
 'varèse sarabande jazz': 'varèse sarabande',
 'universal portugal sa': 'universal portugal',
 'absord japan co': 'absord japan',
 'emicapitol special market': 'capitol special market',
 'cococon': 'coco',
 'favorite': 'favorit',
 'melodia': 'melodi',
 'atlantic': 'atlanti',
 'tipping': 'tippin',
 'personal': 'persona',
 'ananana': 'nana',
 'locomotive': 'locomotiv',
 'delmark': 'delmar',
 'boptimism': 'optimism',
 'wah wah ': 'wah wah',
 'harmoni': 'harmon',
 'mystica': 'mystic',
 'emi pathé marconi sa': 'emi pathé marconi',
 'sonotone': 'sonoton',
 'american': 'america',
 'documento': 'document',
 'océane': 'océan',
 'tartare': 'tartar',
 'nocturne': 'nocturn',
 'universal group international bv': 'universal group international',
 'impacto': 'impact',
 'morpheu': 'orpheu',
 'marianne': 'mariann',
 'emrec': 'emre',
 'wydawnictwo annex': 'wydawnictwo anex',
 'brassroot': 'grassroot',
 'alison': 'aliso',
 'kazz': 'kaz',
 'gazelle': 'gazell',
 'crimsonic': 'crimson',
 'alter': 'alte',
 'satsanga': 'satsang',
 'coast': 'east coast',
 'mandarine': 'mandarin',
 'hybrida': 'hybrid',
 'halcyon': 'alcyon',
 'revolution': 'evolution',
 'augusta': 'august',
 'beyond beyond beyond': 'beyond',
 'preview': 'review',
 'monopole': 'monopol',
 'monopoly': 'monopol',
 'copenhagen c': 'copenhagen',
 'hexagone': 'hexagon',
 'hexagonal': 'hexagon',
 'proper': 'roper',
 'dmusica': 'dmusic',
 'vibratone': 'vibraton',
 'música global discogràfica sl': 'música global discogràfica',
 'boriginal': 'original',
 'manifesto': 'manifest',
 'transitional': 'transition',
 'esperanto': 'esperant',
 'new international': 'w international',
 'litratone': 'litraton',
 'beaver': 'beave',
 'le chant du monde': 'chant du monde',
 'rh pozitif müzik yapım': 'pozitif müzik yapım',
 'harmonic': 'harmon',
 'harmonia': 'harmon',
 'rca special product': 'mca special product',
 'concertone': 'concerto',
 'revolver': 'evolver',
 'coast coast': 'east coast',
 'prevue': 'revue',
 'pacifica': 'pacific',
 'pacifico': 'pacific',
 'digitali': 'digital',
 'apollon': 'apollo',
 'hushush': 'hush',
 'elabeth': 'labeth',
 'akosh szelevényi trio selfreleased': 'akosh szelevényi selfreleased',
 'carling': 'carlin',
 'discordian': 'discordia',
 'ajazz': 'ajaz',
 'leaf': 'eaf',
 'jazztone': 'jazzton',
 'curcio': 'curci',
 'taragon': 'aragon',
 'kontran': 'kontra',
 'select': 'elect',
 'acoustic': 'acousti',
 'cypres': 'cypre',
 'sonorama': 'sonoram',
 'dreamusic': 'reamusic',
 'nippon columbia co': 'nippon columbia',
 'platinum': 'latinum',
 'marvela': 'marvel',
 'pentagrama': 'pentagram',
 'calibre': 'alibre',
 'la drogueria di drugolo srl': 'la drogueria di drugolo',
 'stupido': 'stupid',
 'jazzman': 'jazzma',
 'musicor': 'musico',
 'fairplay': 'airplay',
 'grabaciones mundiales ca': 'grabaciones mundiale',
 'exclusivo': 'exclusiv',
 'sensory': 'sensor',
 'jase': 'jas',
 'airborne': 'airborn',
 'manzana producciones discográficas sa': 'manzana producciones discográficas sl',
 'brighton': 'righton'}

As there are fairly similar labels with almost identical names, only those matches will be kept for which there is a 2 character difference in their names, in order to avoid falsely grouping entries together while reducing the variances of names associated with specific labels

In [22]:
label_match_lookup = {key:value for key, value in label_match_lookup.items() if np.abs(len(key) - len(value)) > 2}
#Convert artist names to best compressed value according to match lookup table
api_df['label_clean'] = api_df['label_clean'].apply(lambda x: label_match_lookup[x] if label_match_lookup.get(x) else x)

## Encoding Formats

In [23]:
format_columns = ['format_{}'.format(column) for column in ('description','name','quantity','text')]
format_functions = (make_format_description_column, make_format_name_column, make_format_quantity_column, make_format_text_column)

for column, function in zip(format_columns,format_functions):
    api_df[column] = api_df['formats'].apply(function)

**Format Name**

Prime candidate for one-hot encoding/hash encoding

In [24]:
api_df['format_name'].unique()

array(['Shellac', 'Vinyl', 'Box Set', 'CD', 'Reel-To-Reel', 'Cassette',
       'SACD', 'CDr', '8-Track Cartridge', 'All Media', 'Minidisc', 'DVD',
       'Hybrid', '4-Track Cartridge', 'Laserdisc', 'Blu-ray', 'Acetate',
       'DVDr', 'VHS', 'Memory Stick', 'File', 'PlayTape', 'DAT',
       'Flexi-disc', 'HD DVD', 'DCC', 'Lathe Cut', 'RCA Tape Cartridge',
       'Floppy Disk'], dtype=object)

In [25]:
format_name_dummies = pd.get_dummies(api_df['format_name'],drop_first=True)
format_name_dummies.rename(columns={column: 'format_name_{}'.format(column) for column in format_name_dummies.columns},inplace=True)
api_df = pd.concat([api_df,format_name_dummies],axis=1).drop('format_name',axis=1)

**Format Quantity**

Can be left as is in integer format, after some cleaning of values

In [26]:
api_df['format_quantity'].unique()

array([      6,       4,       5,       3,       2,       1,      25,
             7,      16,      10,       8,       9,      26,      14,
            13,      24,      28,      20,      55,      11,      50,
             0,      37,      12, 1010201,      15,      30,     500,
           300,      22,      34,      29,      52])

**Format Text**
Might be eligible for tf-idf vectorizing & label encoding

In [27]:
api_df['format_text'].unique()

array([None, 'Indianapolis pressing', 'Hollywood', ...,
       'Gatefold, 180 Grams Vinyl', 'dolby HX PRO', 'Papersleve, K2HD'],
      dtype=object)

In [28]:
len(api_df['format_text'].unique())

5552

In [29]:
api_df['format_text_clean'] = api_df['format_text'].apply(clean_format_text)

In [30]:
format_text_match_df = get_cosine_similarity_matches(api_df['format_text_clean'],get_ngrams)

In [31]:
format_text_lookup = create_match_lookup(format_text_match_df)

In [32]:
api_df['format_text'] = api_df['format_text_clean'].apply(lambda x: format_text_lookup[x] if format_text_lookup.get(x) else x)
len(api_df['format_text'].unique())

4352

**Format Description**

As the entries in the ``format_description`` column are saved as lists, the entries will be dummy encoded for applicability

In [ ]:
format_description_df = expand_format_description_column(api_df)

In [ ]:
save_to_pkl(format_description_df,'format_description')

## Encoded DF

## Feature Engineering
## Eras

In [33]:
def make_period_column(year,start,end):
    if start <= year <= end:
        return 1
    return 0

def make_big_band_period_column(year):
    return make_period_column(year,1930,1950)

def make_bebop_period_column(year):
    return make_period_column(year,1940,1955)

def make_cool_period_column(year):
    return make_period_column(year,1950,1970)

def make_fusion_period_column(year):
    return make_period_column(year,1970,2020)

def make_swing_era_column(year):
    return make_period_column(year,1925,1945)

def make_modern_era_column(year):
    return make_period_column(year,1940,1970)

def make_contemporary_era_column(year):
    return make_period_column(year,1970,2020)

In [35]:
period_columns = (*tuple('period_%s' % col for col in ('big_band','bebop','cool','fusion')),
                  *tuple('era_%s' % col for col in ('swing','modern','contemporary'))
                )
period_functions = (make_big_band_period_column, make_bebop_period_column, make_cool_period_column, make_fusion_period_column, make_swing_era_column, make_modern_era_column,make_contemporary_era_column)

for column, func in zip(period_columns,period_functions):
    api_df[column] = api_df['year'].apply(func)

## Jazz Standard Count

In [37]:
with open(os.path.join(DATA_PATH,'standards.pkl'),'rb') as f:
    standards = pickle.load(f)
    
lowercase_no_punctuation = lambda x: x.lower().translate(str.maketrans('','',string.punctuation))

In [38]:
standards_lookup = {lowercase_no_punctuation(standard):0 for standard in standards}

In [39]:
def count_jazz_standards(standards_lookup, title_list):
    standards_counter = 0
    for title in title_list:
        title = title.lower().translate(str.maketrans('', '', string.punctuation))
        if title in standards_lookup:
            standards_counter += 1               
    return standards_counter

In [40]:
matched_track_titles = match_track_titles_to_standards(standards,api_df['track_titles'])

100%|██████████| 297546/297546 [00:10<00:00, 28910.60it/s]

HBox(children=(FloatProgress(value=1.0, bar_style='info', max=1.0), HTML(value='')))

After some testing of match confidence values, the cutoff for matches will be set at 0.7, leaving 10427 titles which will be matched to the list of jazz standards. After this threshold, the accuracy of the matches degrades to an extent that it will introduce too much bias into the ``no_of_jazz_standards`` feature.

In [41]:
matched_track_titles.sort_values('Match Confidence',ascending=False)[matched_track_titles['Match Confidence'] < 0.7]

/Users/simonhelmig/anaconda3/envs/exts-ml/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,Original Name,Matched Name,Match Confidence
265285,ol man river 45 rpm version,ol man river,0.69
346815,fault lines i got rhythm,i got rhythm,0.69
579962,a felicidade happiness,a felicidade,0.69
195369,youve not changed,youve changed,0.69
795304,the newness of you,the nearness of you,0.69
...,...,...,...
296390,just one of those things\t,just one of those things,0.00
82552,back in your own backyard,back in your own backyard,0.00
610023,have you heard,have you heard,0.00
222487,a man and a woman,a man and a woman,0.00
263145,that old black magic,that old black magic,0.00

In [42]:
match_title_to_standards_df = matched_track_titles[matched_track_titles['Match Confidence'] < 0.7]
tfidf_lookup = {row['Original Name']:row['Matched Name'] for _, row in match_title_to_standards_df.iterrows() if row['Original Name'] not in standards_lookup}

In [43]:
standards_lookup_ = dict(**standards_lookup,**tfidf_lookup)
count_jazz_standards_ = partial(count_jazz_standards,standards_lookup_)

In [44]:
api_df['standards_count'] = api_df['track_titles'].apply(pickle.loads).apply(count_jazz_standards_)

In [45]:
api_df['standards_count'].describe()

count    297546.00000
mean          0.87851
std           1.66438
min           0.00000
25%           0.00000
50%           0.00000
75%           1.00000
max          84.00000
Name: standards_count, dtype: float64

## Number of tracks

In [46]:
api_df['no_of_tracks'] = api_df['track_titles'].apply(lambda x: len(pickle.loads(x)))

In [47]:
api_df['no_of_tracks'].describe()

count    297546.000000
mean         10.455204
std           6.917922
min           0.000000
25%           7.000000
50%          10.000000
75%          12.000000
max         576.000000
Name: no_of_tracks, dtype: float64

## last_sold

In [48]:
max_last_sold_value = api_df['last_sold'].max()

In [49]:
api_df['no_of_days_since_last_sale'] = api_df['last_sold'].apply(lambda x: (max_last_sold_value - x).days)

## Saving api_df

In [50]:
save_to_pkl(api_df,'api')

## Joining dfs and Saving results to hdf

In [51]:
try:
    api_df
except NameError:
    api_df = load_from_pkl('api')
    
try:
    encoded_country_df
except NameError:
    encoded_country_df = load_from_pkl('country')

try:
    encoded_genre_df
except NameError:
    encoded_genre_df = load_from_pkl('genre')

try:
    encoded_style_df
except NameError:
    encoded_style_df = load_from_pkl('style')

try:
    format_description_df
except NameError:
    format_description_df = load_from_pkl('format_description')

In [52]:
concat_df = pd.concat([
    api_df,
    encoded_country_df,
    encoded_genre_df,
    encoded_style_df,
    format_description_df
],axis=1)

In [53]:
save_to_pkl(concat_df,'concat')