# Data Processing
In this notebook, I will be loading the data necessary for this project, combining the data sources and performing initial data processing steps. I will also be performing some exploratory data analysis for the purposes of identifying missing values and outliers, which will then be followed up with the appropriate processing steps.

In [1]:
%load_ext autoreload
%autoreload 2
import nltk
import numpy as np
import os
import pandas as pd
import pickle
import random
import re
import string
from collections import Counter
from functools import partial
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import FunctionTransformer
from sklearn.pipeline import Pipeline
from tqdm import tqdm
tqdm.pandas()

In [2]:
from data.util.paths import DATA_PATH
from data.scripts.project_data import DataLoader
from data.util.environment_variables import COUNTRIES, SUPERREGIONS, REGIONS
from lib.transformers import *
from lib.pipelines import *

# Transforming

In [3]:
extracted_df, api_df = load_from_pkl('extracted',path=DATA_PATH), load_from_pkl('api',path=DATA_PATH)

In [4]:
extracted_df = extracted_pipe.fit_transform(extracted_df)

HBox(children=(FloatProgress(value=1.0, bar_style='info', max=1.0), HTML(value='')))

In [5]:
extracted_df.describe()

,release_id,market_price,units_for_sale,have,want,average_rating,rating_count,number_of_tracks,running_time,lowest,median,highest,market_value,track_titles_count,days_since_last_sale
count,2.975460e+05,2.773820e+05,277380.000000,297546.000000,297546.000000,198293.000000,297546.000000,297546.000000,202005.000000,200928.000000,200929.000000,200929.000000,297546.000000,297546.000000,200929.000000
mean,7.113463e+06,3.796667e+02,6.631282,41.811058,27.806541,4.240038,4.479748,10.434393,48.140313,13.007723,18.424269,27.192051,19.207087,0.004930,373.663966
std,3.921386e+06,1.898720e+05,9.669647,153.402812,81.399466,0.680314,15.340585,7.142462,23.558053,34.547872,43.074251,65.193119,72.146617,0.148163,424.983608
min,5.600000e+02,1.000000e-02,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.010000,0.010000,0.010000,0.010000,0.000000,0.000000
25%,3.645580e+06,5.000000e+00,2.000000,3.000000,2.000000,4.000000,0.000000,7.000000,37.450000,3.866475,6.050000,8.920000,6.000000,0.000000,93.000000
50%,6.905488e+06,9.890000e+00,4.000000,11.000000,6.000000,4.330000,1.000000,10.000000,43.250000,7.680000,10.880000,15.019349,10.891478,0.000000,219.000000
75%,1.042339e+07,1.855908e+01,8.000000,33.000000,22.000000,4.800000,4.000000,12.000000,54.516667,14.410000,19.495746,27.000000,19.604661,0.000000,486.000000
max,1.471935e+07,1.000000e+08,384.000000,13957.000000,4959.000000,5.000000,1599.000000,683.000000,1772.033333,5000.000000,5000.000000,5000.000000,12567.088784,28.000000,4894.000000

In [ ]:
api_df = api_pipe.fit_transform(api_df)

In [ ]:
api_df.describe()