# 01 - Data Processing
In this notebook, we will load the data necessary for this project, combine the data sources and perform initial data processing steps, in order to prepare the dataset for visualization and additional downstream data cleaning.

In [1]:
%load_ext autoreload
%autoreload 2
import os
from tqdm import tqdm
import pickle
import numpy as np
import pandas as pd
tqdm.pandas()

In [2]:
from data.util.paths import DATA_PATH
from lib.processing import load_from_pkl, save_to_pkl
from lib.pipelines import extracted_pipe, api_pipe

## Introduction

The data for this project has been sourced from Discogs.com, the largest online marketplace for second-hand physical music. There are three components to the data that will make up our final dataset, namely:

1. ``api_df`` -> Data taken from the official Discogs.com API (https://www.discogs.com/developers)
2. ``extracted_df`` -> Data scraped from Discogs release pages
3. ``high_level_features_df`` -> High-Level Features extracted from the cover images of each Album

At this juncture, we will load, investigate and transform the first two data sources outlined above. The data was collected continuously over the months of February and March 2020 using the scripts found in the data directory of this project. To scrape each of these three data sources, the main() function of the data/main.py file was used. It is not recommended to run this script oneself, as it will require substantial time to complete and potentially the investment into a proxy service provider. A sample of all data used in this project has been made available for the EPFL Extension School Reviewers in the ``data/sample_data`` directory, including the DataFrames used as the outset for our processing here, as well as the final composite data that we generate in notebook ``03-DatasetPrep``. The data cannot be provided in its entirety, due to its size. For more details on how each data source was filtered and scraped, please refer to the classes and functions contained in the ``data/util/scrape.py`` module.
    
First, we will load the data extracted from the Discogs.com API, henceforth referred to as ``api_df``.

## API Data
### Loading and Overview

In [3]:
api_df = load_from_pkl('api',path=DATA_PATH)

In [4]:
api_df_sample = api_df.sample(int(0.05*len(api_df)),random_state=0)

In [5]:
save_to_pkl(api_df_sample,'api_sample',path=os.path.join(os.getcwd(),'data/sample_data'))

In [6]:
api_df.head()

,id,release_id,title,year,country,genre,style,label,community_have,community_want,formats,master_id,thumb_url,release_url
0,1,11918321,Bing Crosby - Crosbyana,1934,Canada,b'\x80\x03]q\x00(X\x04\x00\x00\x00Jazzq\x01X\x...,b'\x80\x03]q\x00(X\x08\x00\x00\x00Big Bandq\x0...,b'\x80\x03]q\x00(X\x05\x00\x00\x00Deccaq\x01X\...,1,2,b'\x80\x03]q\x00}q\x01(X\x03\x00\x00\x00qtyq\x...,1354381,https://img.discogs.com/J7vwmOhWMdUJ5vYuaYZvIj...,https://api.discogs.com/releases/11918321
1,2,10550056,Bing Crosby - Crosbyana,1934,US,b'\x80\x03]q\x00(X\x04\x00\x00\x00Jazzq\x01X\x...,b'\x80\x03]q\x00(X\x08\x00\x00\x00Big Bandq\x0...,b'\x80\x03]q\x00X\x05\x00\x00\x00Deccaq\x01a.',4,4,b'\x80\x03]q\x00}q\x01(X\x03\x00\x00\x00qtyq\x...,1354381,https://img.discogs.com/aLpqYUso3yY53XDHwiqqB-...,https://api.discogs.com/releases/10550056
2,3,6910984,Tommy Dorsey And His Clambake Seven - Tommy Do...,1935,US,b'\x80\x03]q\x00X\x04\x00\x00\x00Jazzq\x01a.',b'\x80\x03]q\x00X\x05\x00\x00\x00Swingq\x01a.',b'\x80\x03]q\x00(X\r\x00\x00\x00Swing Classicq...,4,2,b'\x80\x03]q\x00}q\x01(X\x0c\x00\x00\x00descri...,0,https://img.discogs.com/FkuaZ7cqdBt5-TvS2ck0hP...,https://api.discogs.com/releases/6910984
3,4,12959431,"Paul Whiteman And His Orchestra, Bix Beiderbec...",1936,US,b'\x80\x03]q\x00X\x04\x00\x00\x00Jazzq\x01a.',b'\x80\x03]q\x00X\x05\x00\x00\x00Swingq\x01a.',b'\x80\x03]q\x00X\x06\x00\x00\x00Victorq\x01a.',3,3,b'\x80\x03]q\x00}q\x01(X\x0c\x00\x00\x00descri...,0,https://img.discogs.com/Wg31rg_x6TtOMz-jIDC-3l...,https://api.discogs.com/releases/12959431
4,5,4453491,Jimmie Lunceford And His Orchestra - For Dance...,1937,Canada,b'\x80\x03]q\x00X\x04\x00\x00\x00Jazzq\x01a.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00(X\x05\x00\x00\x00Deccaq\x01X\...,5,2,b'\x80\x03]q\x00}q\x01(X\x0c\x00\x00\x00descri...,1519538,,https://api.discogs.com/releases/4453491

Above we see the data saved from the querying of the Discogs.com API. The data includes all available Jazz albums from the API and retains the columns that were deemed to be the most relevant and informative for the purposes of estimating the market value of each record. As we can see from the above calling of the ``.head()`` method on the api_data DataFrame, several columns have been saved in a binary format. This is due to the fact that the API often returned multiple categories for these columns, and as such they were initially saved in a list in the process of scraping. As this data was originally stored in a SQL database, it has been pickled to enable the storage of the data. Let us now unpickle this data in order to get a better understanding of the structure of the ``api_data``.

In [7]:
api_df.applymap(lambda x: pickle.loads(x) if isinstance(x,bytes) else x).head()

,id,release_id,title,year,country,genre,style,label,community_have,community_want,formats,master_id,thumb_url,release_url
0,1,11918321,Bing Crosby - Crosbyana,1934,Canada,"[Jazz, Pop]","[Big Band, Vocal]","[Decca, The Compo Company Ltd.]",1,2,"[{'qty': '6', 'descriptions': ['10""', '78 RPM'...",1354381,https://img.discogs.com/J7vwmOhWMdUJ5vYuaYZvIj...,https://api.discogs.com/releases/11918321
1,2,10550056,Bing Crosby - Crosbyana,1934,US,"[Jazz, Pop]","[Big Band, Vocal]",[Decca],4,4,"[{'qty': '6', 'descriptions': ['10""', '78 RPM'...",1354381,https://img.discogs.com/aLpqYUso3yY53XDHwiqqB-...,https://api.discogs.com/releases/10550056
2,3,6910984,Tommy Dorsey And His Clambake Seven - Tommy Do...,1935,US,[Jazz],[Swing],"[Swing Classic, RCA Victor]",4,2,"[{'descriptions': ['10""', '78 RPM', 'Album', '...",0,https://img.discogs.com/FkuaZ7cqdBt5-TvS2ck0hP...,https://api.discogs.com/releases/6910984
3,4,12959431,"Paul Whiteman And His Orchestra, Bix Beiderbec...",1936,US,[Jazz],[Swing],[Victor],3,3,"[{'descriptions': ['10""', '78 RPM', 'Album', '...",0,https://img.discogs.com/Wg31rg_x6TtOMz-jIDC-3l...,https://api.discogs.com/releases/12959431
4,5,4453491,Jimmie Lunceford And His Orchestra - For Dance...,1937,Canada,[Jazz],[],"[Decca, Decca Records, Inc.]",5,2,"[{'descriptions': ['10""', '78 RPM', 'Album'], ...",1519538,,https://api.discogs.com/releases/4453491

As all columns are now human-readable, we can discuss each column and its relevance for the purposes of our goal of estimating the market value of jazz albums on the basis of their meta-characteristics
- ``release_id`` and ``master_id``
    - These columns represent the unique identifier of a specific release of a record on Discogs.com, and the unique identifier of the album irrespective of its release, respectively.
    - While ``release_id`` will be of no use to us in the estimation of album market value, it is valuable as a primary key for the joining of the data extracted from the Discogs.com API with the scraped release page and image data we will be introducing later
    - ``master_id`` will be useful in constructing linkages between entries that are the same album, but released in a different country, format, or by another label
- ``country``
    - This feature gives us an insight into which country the record was released from
    - While not immediately obvious from the snapshot above, this feature can have multiple countries for its value, such as "England & USA", which requires a more thoughtful approach than just direct one-hot encoding in order to optimally preserve the information it encodes
- ``title``
    - This feature includes both the title of the album, as well as the title of the artist
    - It will be necessary to split this feature into two, such that connections between albums can be drawn on the basis of being authored by the same artist or group
- ``community_want`` and ``community_have``
    - These features outline the registered demand and supply, respectively, for albums on the Discogs.com platform
    - Users can register their ownership or desire of a certain album, which is then aggregated over users and recorded in these features
    - These are the first features we see which will not be taken into account in the 'Record Store Scenario', as in a physical visit to the record store, it is not possible to know exactly how many people have and want a specific album
- ``genre``, ``style`` and ``label``
    - These features outline the genres, styles and labels associated with each album release
    - As has been shown above, there are potentially multiple values for this feature, which will make standard encoding methods such as One-Hot Encoding difficult to rationalize
- ``formats``
    - Taken directly from the Discogs.com API, the formats feature is the most unruly of all, as it contains up to 4 sub-features, namely:
        - Format Description
            - Release-specific information related to its format
            - Examples
                - '10"', '78RPM', 'Album', 'Reissue'
        - Format Text
            - Additional free form notes associated with the record release
            - Examples
                - 'Paper Sleeve', 'Red Vinyl'
        - Format Name
            - The name of the format
            - Examples
                - 'CD', 'Vinyl', 'Cassette'
        - Format Quantity
            - An integer representing how many units of the format are associated with a purchase of the release
- ``thumb_url`` and ``release_url``
    - These features are unnecessary for the purposes of our analysis here, but were useful in order to conduct the data extraction of the ``extracted_df`` and ``image_embedding_df`` obtained from the Discogs.com platform itself

### Investigation and Transformation

Having taken an initial look at ``api_df``, we can now move on to the cleaning and transformation of this DataFrame through a pre-written pipeline, which is to be found in the ``lib/pipelines.py`` module. For the purposes of exposition, the pipeline will be replicated here step-by-step, with motivation and explanation for each step. In the following notebooks, a direct import of the pipeline will be used in lieu of a replication as below.

Below the required transformers will be imported and composed into the pre-defined pipeline structure, after which the pipeline will be explained in its entirety.

In [8]:
from sklearn.pipeline import Pipeline
from lib.transformers import (ColumnRemover, 
                              TitleSplitter, 
                              Unpickler, 
                              LabelCleanReduce, 
                              ArtistCleanReduce, 
                              DuplicateRemover, 
                              CountryEncoder, 
                              GenreEncoder, 
                              MultiValueCategoricalEncoder, 
                              FormatEncoder, 
                              FormatTextCleanReduce, 
                              TimePeriodEncoder,
                              OutlierRemover,
                              DummyGenerator)

In [9]:
clean_text_pipe = Pipeline([
    #Step 4a - Homogenize and clean the label feature
    ('label',LabelCleanReduce()),
    #Step 4b - Homogenize and clean the artist feature
    ('artist',ArtistCleanReduce())
])

column_encoding_pipe = Pipeline([
    #Step 6a - Identify regions and superregions associated with countries and approrpiately encode
    #multi-country album releases
    ('country',CountryEncoder()),
    #Step 6b - Expand and encode the genre feature
    ('genre',GenreEncoder()),
    #Step 6c - Expand and encode the style feature
    ('style',MultiValueCategoricalEncoder(feature='style')),
    #Step 6d - OneHotEncode 'format_name', while maintaining the DataFrame structure
    ('encode_format_name', DummyGenerator('format_name'))
])

format_pipe = Pipeline([
    #Step 7a - Create the format_description, format_text, format_name and format_quantity features
    ('make_columns',FormatEncoder()),
    #Step 7b - Remove format_quantity outliers
    ('remove_quantity_outliers', OutlierRemover('format_quantity')),
    #Step 7c - Expand and encode the format_description feature
    ('encode_descriptions',MultiValueCategoricalEncoder('format_description')),
    #Step 7d - Homogenize and clean the format_text feature
    ('clean_format_text',FormatTextCleanReduce())
])

api_pipe = Pipeline([
    #Step 1 - Remove Unnecessary Columns
    ('remove_columns',ColumnRemover(['id','thumb_url','release_url'])),
    #Step 2 - Splitting title Feature into title and artist
    ('split_title',TitleSplitter()),
    #Step 3 - Unpickle Pickled Features
    ('unpickle',Unpickler(['genre','style','label','formats'])),
    #Step 4 - Clean Features with Multiple Categorical Values per Sample and High Categorical Variance
    ('clean_text',clean_text_pipe),
    #Step 5 - Remove Entries with Duplicate release_ids
    ('remove_duplicates',DuplicateRemover('release_id')),
    #Step 6 - Encode Categorical Features which cannot be encoded conventionally
    ('encode_columns',column_encoding_pipe),
    #Step 7 - Expand the 'format' Feature from Dictionary to Column Format
    ('format_columns',format_pipe),
    #Step 8 - Encode Jazz Periods and Eras associated with the Release Year of each Album
    ('encode_time_periods',TimePeriodEncoder())
])

### Pipeline Step Exposition
#### Step 1 - Removing Unnecessary Columns
This step is mostly self-explanatory. For the purposes of this analysis, neither ``thumb_url`` and ``release_url`` will be relevant, and the ``id`` column is superfluous.
#### Step 2 - Splitting ``title`` Feature into ``title`` and ``artist``
As was alluded to in the initial ``api_df`` overview, the original ``title`` feature clearly contains two distinct pieces of information, namely the name of the performing artist or group for a given release, as well as the name of said release. As such, with this transformer, we split the title feature according to the common delimiter in this column, namely a hyphen ('-') in order to yield an individual ``title`` and ``artist`` column. An equivalent operation is shown below on a sample of the dataset.

In [10]:
api_df['title'].head().str.split('-',n=1,expand=True).rename(columns={0:'artist',1:'title'})

,artist,title
0,Bing Crosby,Crosbyana
1,Bing Crosby,Crosbyana
2,Tommy Dorsey And His Clambake Seven,Tommy Dorsey And His Clambake Seven
3,"Paul Whiteman And His Orchestra, Bix Beiderbec...",Dedicated To The Memory Of Bix Beiderbecke
4,Jimmie Lunceford And His Orchestra,For Dancers Only

#### Step 3 - Unpickle Pickled Features
This step replicates the operation performed in the ``api_df`` overview, by unpickling ``genre``,``style``,``label`` and ``formats``
#### Step 4 - Clean Features with Multiple Categorical Values per Sample and High Categorical Variance
For the features ``label`` and ``artist``, it is clear that a more sophisticated approach is necessary than just simple One-Hot Encoding, as each has a high unique cardinality, and is composed of fairly dirty textual data.

In [11]:
label_artist_columns = api_pipe.steps[2][-1].fit_transform(api_pipe.steps[1][-1].fit_transform(api_df)).loc[:,['label','artist']]
label_artist_columns

,label,artist
0,"[Decca, The Compo Company Ltd.]",Bing Crosby
1,[Decca],Bing Crosby
2,"[Swing Classic, RCA Victor]",Tommy Dorsey And His Clambake Seven
3,[Victor],"Paul Whiteman And His Orchestra, Bix Beiderbec..."
4,"[Decca, Decca Records, Inc.]",Jimmie Lunceford And His Orchestra
...,...,...
448897,"[Production Dessinée, Disques Dessinee Distrib...",Mateo Stoneman = マテオ・ストーンマン*
448898,"[Nailuj Music, Rebel Road Studio, San Diego, R...",Julian Juno*
448899,[Rubber Frog Records],DJ Nonstick Cookware
448900,[Not On Label],Papaw (2)
448901,[Not On Label (Shady Monk Self-Released)],Shady Monk

First, let us identify the number of unique values for each of these columns.

In [12]:
label_values = label_artist_columns.loc[:,'label'].apply(lambda x: 'üü'.join(x)).str.split('üü',expand=True).stack()
artist_values = label_artist_columns.loc[:,'artist']
for values, column in zip((label_values,artist_values),('label','artist')):
    print('The api_data dataset has %s unique %s values' % (len(np.unique(values)),column))

The api_data dataset has 113842 unique label values
The api_data dataset has 108872 unique artist values

As we can see from the output above, the order of magnitude of unique values for these columns prevents us from taking the standard approach in machine learning of One-Hot Encoding these columns, in the interest of preserving the dimensionality of our dataset. Let us now see if there is any possibility of reducing the number of unique values, by homogenizing similar values.

In [13]:
from collections import Counter
Counter(label_values).most_common(n=20)

[('Blue Note', 17001),
 ('Columbia', 14162),
 ('Verve Records', 11287),
 ('Capitol Records', 9553),
 ('Van Gelder Studio, Englewood Cliffs, New Jersey', 9435),
 ('Atlantic', 8867),
 ('Not On Label', 8331),
 ('Capitol Records, Inc.', 7774),
 ('CBS', 7333),
 ('ECM Records', 7126),
 ('Prestige', 6943),
 ('CBS Inc.', 6862),
 ('RCA Victor', 6329),
 ('Warner Bros. Records', 6156),
 ('A&M Records', 5958),
 ('Polydor', 5681),
 ('Atlantic Recording Corporation', 5614),
 ('Impulse!', 5118),
 ('Universal Music LLC', 5089),
 ('EMI', 4933)]

From the above we can clearly see that labels have been entered under slightly different names in some cases, in particular for the  following pairs:
- Capitol Records & Capitol Records, Inc.
- CBS & CBS Inc.
Unifying these would by themselves already greatly increase the number of connected entries by homogenizing the names of the labels

In [14]:
Counter(artist_values).most_common(n=20)

[('Various', 7248),
 ('Miles Davis', 2986),
 ('John Coltrane', 2071),
 ('Frank Sinatra', 2056),
 ('Sonny Rollins', 1242),
 ('Herbie Hancock', 1124),
 ('Ella Fitzgerald', 987),
 ('The Dave Brubeck Quartet', 948),
 ('George Benson', 868),
 ('Duke Ellington', 823),
 ('Nina Simone', 822),
 ('Charles Mingus', 806),
 ('Freddie Hubbard', 758),
 ('Jimmy Smith', 745),
 ('Herbie Mann', 732),
 ('Sarah Vaughan', 698),
 ('Chet Baker', 682),
 ('Keith Jarrett', 681),
 ('Frank Zappa', 647),
 ('Thelonious Monk', 646)]

In the case of artists, it is not as clear that such cleaning would be required in order to get widespread connection between records, however, by taking a look at all entries containing 'Miles Davis', for example, we quickly observe in how many varied ways Miles Davis appears in the ``artist`` column.

In [15]:
miles_davis_values = tuple(filter(lambda x: 'miles davis' in x.lower(), Counter(artist_values)))
miles_davis_values

('Fats Navarro / Dizzy Gillespie / Miles Davis / Kenny Dorham',
 'Miles Davis',
 'Miles Davis With Sonny Rollins',
 'Miles Davis Quartet*',
 'Miles Davis And Milt Jackson',
 'The New Miles Davis Quintet*',
 'The Miles Davis Quintet',
 'Miles Davis + 19, Gil Evans',
 'Miles Davis + 19',
 'Miles Davis, Gil Evans',
 'Miles Davis Et Son Quintette*',
 'Miles Davis All Stars',
 'Michel Legrand Featuring Miles Davis',
 'Miles Davis, Sonny Rollins',
 'Miles Davis And The Modern Jazz Giants',
 'Cannonball Adderley, Miles Davis, Hank Jones, Sam Jones, Art Blakey',
 'Miles Davis Quintet*',
 'Miles Davis Sextet*',
 'Miles Davis , Arranged And Condusted By Gil Evans',
 'The Miles Davis Sextet & The Thelonious Monk Quartet',
 'Miles Davis & The Modern Jazz Giants',
 'Miles Davis + 19 Orchestra Under The Direction Of Gil Evans',
 'Sarah Vaughan With The Miles Davis All-Stars*',
 'The Miles Davis Quintet Featuring John Coltrane',
 'The Miles Davis Sextet And Quintet* Featuring: John Coltrane, Bill Evans',
 'Miles Davis*',
 'Sarah Vaughan With Miles Davis All Stars',
 'Miles Davis  / Orchestra Under The Direction Of  Gil Evans, George Gershwin',
 'The Miles Davis Sextet / The Miles Davis Quintet',
 'Miles Davis Arranged And Conducted By Gil Evans',
 'Miles Davis And His Orchestra',
 'Miles Davis = マイルス・デイビス*',
 'The Miles Davis Sextet',
 'Cannonball Adderley with Miles Davis, Sam Jones, Hank Jones, Art Blakey',
 'Miles Davis Featuring Sonny Rollins',
 'The Miles Davis Quintet / Art Blakey And The Jazz Messengers*',
 'Miles Davis With Gil Evans And His 21-Piece Orchestra*',
 'Miles Davis-Tadd Dameron Quintet',
 'The Miles Davis/Tadd Dameron Quintet*',
 'The Miles Davis Sextet Featuring John Coltrane And "Cannonball" Adderley* / The Thelonious Monk Quartet And Pee Wee Russell',
 'Miles Davis Sexteto*',
 'Miles Davis, Jamey Aebersold',
 'Jimmy Forrest / Miles Davis',
 'Miles Davis / Jimmy Forrest',
 'Miles Davis And The The Lighthouse All-Stars*',
 'Miles Davis And The Lighthouse All-Stars*',
 'Miles Davis & John Coltrane',
 'Miles Davis, John Coltrane',
 'Miles Davis And Sonny Stitt',
 'Miles Davis + 19 , Orchestra Under The Direction Of Gil Evans',
 'Miles Davis And  The Modern Jazz Giants',
 'Miles Davis & Marcus Miller',
 'Miles Davis ~ Marcus Miller',
 'Miles Davis / Marcus Miller',
 'Miles Davis With Orchestra Under The Direction Of Gil Evans*',
 'Miles Davis / Sonny Stitt',
 'Charlie Parker With  Miles Davis, Dizzy Gillespie, Max Roach, Lennie Tristano',
 'Charlie Parker With Miles Davis, Dizzy Gillespie, Max Roach, Lennie Tristano',
 'Miles Davis & Michel Legrand',
 'Hi-Hat All-Stars, Miles Davis',
 'Miles Davis Quintet* = マイルス・デイビス*',
 'Sting & Jill Evans* . Miles Davis',
 'Miles Davis & Quincy Jones',
 'Miles Davis With Hank Mobley, Wynton Kelly, Paul Chambers (3), Jimmy Cobb',
 'Miles Davis And The Gil Evans Orchestra*',
 'Lee Konitz & Miles Davis / Teddy Charles & Jimmy Raney',
 'Miles Davis / Miles Davis All Stars',
 'Miles Davis / Gil Evans',
 'The Miles Davis Quartet',
 'Miles Davis & Charlie Parker',
 'Charlie Parker & Miles Davis',
 'Miles Davis / Stan Getz',
 'Miles Davis All Stars / マイルス・デイヴィス*',
 'Miles Davis . Gil Evans',
 'Miles Davis & Gil Evans',
 'Miles Davis, Stan Getz',
 'Miles Davis & Jimmy Forrest',
 'Miles Davis Quintet* Featuring John Coltrane',
 'Miles Davis Quintet* Featuring Barney Wilen',
 'Miles Davis Quintet* With John Coltrane',
 'Miles Davis All Stars = マイルス・デイヴィス*',
 'The Miles Davis Quintet Featuring John Coltrane │ Red Garland │ "Philly" Joe Jones │ Paul Chambers (3)',
 'Miles Davis + 19 Orchestra Under Direction Of Gil Evans',
 'Michel Legrand & Miles Davis',
 'Miles Davis  Featuring  Barney Wilen',
 'Cannonball Adderley & Miles Davis',
 'Miles Davis Quintet* Together With Gil Evans Orchestra*',
 'Miles Davis & Robert Glasper',
 'The Miles Davis Sextet, Duke Ellington And His Orchestra',
 'Miles Davis, Milt Jackson',
 'Miles Davis  &  John Coltrane',
 'Miles Davis Octet',
 'マイルス・デイビス* = Miles Davis x ロバート・グラスパー* = Robert Glasper',
 'Cannonball Adderley, Miles Davis',
 'The Miles Davis Quintet, John Coltrane',
 'Stan Getz And Miles Davis')

Clearly, in order to reduce the dimensionality and increase the linkages between different jazz albums, it will also be crucial to clean the ``artist`` column.

To achieve this, we apply the ``ArtistCleanReduce`` and ``LabelCleanReduce`` transformers, which clean and homogenize the text inputs, and match the resulting unique strings with one another using TF-IDF Vectorization with n-grams. In the case of ``LabelCleanReduce``, we pick the first unique element attributed to an entry, as it is deemed to be the most relevant label for the release. For both the ``artist`` and ``label`` columns, this results in a great reduction in the cardinality of unique entries associated with both columns, as we can see below.

In [16]:
cleaned_text = clean_text_pipe.fit_transform(label_artist_columns)

In [17]:
for column in ('label','artist'):
    print('The cleaned api_data has %s unique %s values' % (len(cleaned_text.loc[:,column].unique()),column))

The cleaned api_data has 37075 unique label values
The cleaned api_data has 92282 unique artist values

Although we have successfully reduced the unique cardinality of ``label`` and ``artist``, these values still far exceed the threshold under which it would be acceptable to apply One-Hot Encoding. As such, we will use the Leave One Out approach to encode these features, which will allow us to eliminate this explosion of dimensionality. The approach will be explained in further detail in ``04-Modelling``.

In [18]:
#Namespace Cleanup
del label_artist_columns,label_values,artist_values,miles_davis_values,cleaned_text

#### Step 5 - Remove Entries with Duplicate ``release_ids``
The results obtained from querying the Discogs.com API yielded a substantial number of duplicates for the ``release_id`` feature, as we can see from the cell below. As this is a unique identifier for each album, we will remove those entries for which a duplicate ``release_id`` is identified.

In [19]:
print('The number of entries with duplicated release_id values is:',len(api_df[api_df['release_id'].duplicated()]))

The number of entries with duplicated release_id values is: 98334

#### Step 6 - Encode Categorical Features

For the ``column_encoding_pipe``, we turn our attention to the encoding of the ``country``, ``genre`` and ``style`` columns shown below

In [20]:
categorical_features = Unpickler(['genre','style']).fit_transform(api_df.loc[:,['country','genre','style']])
categorical_features.head()

  country        genre              style
0  Canada  [Jazz, Pop]  [Big Band, Vocal]
1      US  [Jazz, Pop]  [Big Band, Vocal]
2      US       [Jazz]            [Swing]
3      US       [Jazz]            [Swing]
4  Canada       [Jazz]                 []

As we can see from the output above, we have two different encodings, as in the ``clean_text_pipe``. The ``country`` column is of a string type, whereas the ``genre`` and ``style`` features contain list-type values for each sample. It is important to know that the ``country`` attribute is provided by users themselves, whereas the ``genre`` and ``style`` values are set by Discogs and are thus more standardized.

As such, for the ``genre`` and ``style`` columns, we simply need to utilize dummy encoding in order to encode the information from these features. We do this by implementing and extending the ``MultiValueCategoricalEncoder`` class which encodes the features accordingly:

In [21]:
from lib.transformers import MultiValueCategoricalEncoder

In [22]:
encoded_genre_style = MultiValueCategoricalEncoder('style')\
    .fit_transform(
        GenreEncoder()\
            .fit_transform(categorical_features)
)
encoded_genre_style.head()

,country,genre,style,genre_Blues,genre_Brass & Military,genre_Childrens,genre_Classical,genre_Electronic,"genre_Folk, World, & Country",genre_Funk / Soul,...,style_Volksmusik,style_Western Swing,style_Witch House,style_Yemenite Jewish,style_Yé-Yé,style_Zamba,style_Zemer Ivri,style_Zouk,style_Zydeco,style_Éntekhno
0,Canada,"[Jazz, Pop]","[Big Band, Vocal]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,US,"[Jazz, Pop]","[Big Band, Vocal]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,US,[Jazz],[Swing],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,US,[Jazz],[Swing],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Canada,[Jazz],[],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

To deal with the ``country`` feature, we take a different approach. As each country associated with a given sample contains information related to the broader region of the globe the album comes from, we implement a custom transformer called ``CountryEncoder``, which reads in the string input of the ``country`` feature, and dummy encodes the information according to which countries the album comes from, and additionally add columns outlining the regions and superregions the album release belongs to. In this case, regions refer to the the UN Geoschemes according to their M49 classification code. Superregions are used to refer to the following regions which supersede and contain within them the UN Geoscheme regions:
- Africa
- Americas
- Asia
- Europe
- Oceania
- Unknown (in case of missing information)

In [23]:
CountryEncoder().fit_transform(categorical_features)

,country,genre,style,superregion_africa,superregion_americas,superregion_asia,superregion_europe,superregion_oceania,superregion_unknown,region_australia and new zealand,...,country_zambia,country_zimbabwe,country_aruba,country_curacao,country_sint maarten (dutch part),country_bahrain,country_oman,country_qatar,country_virgin islands (u.s.),country_virgin islands (british)
0,Canada,"[Jazz, Pop]","[Big Band, Vocal]",0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,US,"[Jazz, Pop]","[Big Band, Vocal]",0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,US,[Jazz],[Swing],0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,US,[Jazz],[Swing],0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Canada,[Jazz],[],0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448897,Japan,"[Jazz, Latin, Pop, Folk, World, & Country]","[Contemporary Jazz, Bolero, Cubano, Vocal]",0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
448898,"USA, Canada & Europe","[Electronic, Hip Hop, Jazz, Latin, Pop, Folk, ...","[Ambient, Downtempo, Hip Hop, Easy Listening, ...",0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
448899,Germany,"[Electronic, Hip Hop, Jazz, Rock, Funk / Soul,...","[IDM, Downtempo, K-pop, Disco, Synth-pop, Tech...",0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
448900,US,"[Jazz, Pop, Folk, World, & Country, Stage & Sc...","[Ballad, Vocal, Swing, Novelty, Musical, Music...",0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
448901,US,"[Electronic, Hip Hop, Jazz, Rock, Funk / Soul,...","[Abstract, Acoustic, Ambient, Avantgarde, Ball...",0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
del categorical_features, encoded_genre_style

#### Step 7 - Create and Encode Format Columns

As a next step, we must decompose the formats column such that its component features are interpretable for the machine learning algorithms we aim to build as part of this project.

In [25]:
Unpickler('formats').fit_transform(api_df)['formats']

0         [{'qty': '6', 'descriptions': ['10"', '78 RPM'...
1         [{'qty': '6', 'descriptions': ['10"', '78 RPM'...
2         [{'descriptions': ['10"', '78 RPM', 'Album', '...
3         [{'descriptions': ['10"', '78 RPM', 'Album', '...
4         [{'descriptions': ['10"', '78 RPM', 'Album'], ...
                                ...
448897    [{'descriptions': ['LP', 'Album', 'Reissue', '...
448898    [{'descriptions': ['MP3', 'Album'], 'text': '3...
448899    [{'descriptions': ['MP3', 'Album'], 'text': '8...
448900    [{'descriptions': ['AAC', 'AIFF', 'ALAC', 'FLA...
448901    [{'descriptions': ['ogg-vorbis', 'Album', 'Ste...
Name: formats, Length: 448902, dtype: object

The ``formats`` column is saved in a dictionary, which means that we must extract the value of each key of the dictionaries and create a new independent feature. We do this via the ``FormatEncoder`` transformer, which executes this for the four keys that are found throughout the feature, and creates the columns ``format_description``, ``format_text``,``format_name``, ``format_quantity``.

In [26]:
formats = FormatEncoder().fit_transform(Unpickler('formats').fit_transform(api_df))[['format_name','format_quantity','format_text','format_description']]
formats

,format_name,format_quantity,format_text,format_description
0,Shellac,6,None,"[10"", 78 RPM, Album]"
1,Shellac,6,None,"[10"", 78 RPM, Album]"
2,Shellac,4,None,"[10"", 78 RPM, Album, Reissue]"
3,Shellac,6,None,"[10"", 78 RPM, Album, Compilation, Mono]"
4,Shellac,5,None,"[10"", 78 RPM, Album]"
...,...,...,...,...
448897,Vinyl,1,None,"[LP, Album, Reissue, Remastered, Stereo]"
448898,File,1,320,"[MP3, Album]"
448899,File,1,8 kbps,"[MP3, Album]"
448900,File,1,None,"[AAC, AIFF, ALAC, FLAC, MP3, ogg-vorbis, WAV, ..."
448901,File,52,None,"[ogg-vorbis, Album, Stereo]"

For the above features, we have two fairly cleanly formatted ones in ``format_name`` and ``format_quantity``

In [27]:
formats['format_name'].unique()

array(['Shellac', 'Vinyl', 'Box Set', 'Acetate', 'Reel-To-Reel',
       'RCA Tape Cartridge', 'Tefifon', 'Lathe Cut', '4-Track Cartridge',
       '8-Track Cartridge', 'Cassette', 'PlayTape', 'All Media',
       'Laserdisc', 'Flexi-disc', 'CD', 'VHS', 'VHD', 'DAT', 'Betamax',
       'CDr', 'Floppy Disk', 'DCC', 'Minidisc', 'SACD', 'DVD', 'HD DVD',
       'File', 'Hybrid', 'DVDr', 'Memory Stick', 'Blu-ray', 'Blu-ray-R',
       'Microcassette'], dtype=object)

In [28]:
np.sort(formats['format_quantity'].unique())

array([      0,       1,       2,       3,       4,       5,       6,
             7,       8,       9,      10,      11,      12,      13,
            14,      15,      16,      17,      18,      19,      20,
            21,      22,      23,      24,      25,      26,      27,
            28,      29,      30,      31,      32,      33,      34,
            35,      36,      37,      38,      39,      40,      41,
            42,      43,      44,      45,      46,      48,      50,
            52,      53,      55,      57,      58,      60,      67,
            69,      70,      71,      83,      84,     100,     110,
           131,     137,     150,     176,     200,     212,     300,
           415,     500, 1010201])

While we can see from the range of values in ``format_name`` that we require no additional encoding other than One-Hot encoding prior to estimation at this stage, we see that there is a fairly long tail in the quantity of units that are associated with each album. In order to avoid these outliers from negatively impacting our predictions, we use the ``OutlierRemover`` transformer which removes values that are more than three standard deviations removed from the mean

In [29]:
np.sort(OutlierRemover('format_quantity').fit_transform(formats)['format_quantity'].unique())

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  48,  50,  52,  53,  55,
        57,  58,  60,  67,  69,  70,  71,  83,  84, 100, 110, 131, 137,
       150, 176, 200, 212, 300, 415, 500])

For the ``format_text``and ``format_description`` features, we utilize similar approaches as in previous sections, due to similar issues occuring in the data. For ``format_text``, we extend the ``FeatureCleanReduce`` transformer to create the ``FormatTextCleanReduce`` transformer in order to reduce the feature's cardinality

In [30]:
len(formats['format_text'].unique())

6533

In [31]:
len(FormatTextCleanReduce().fit_transform(formats)['format_text'].unique())

5362

As the cardinality of the feature is still fairly high, we will forego dummy encoding at this point and use the Leave One Out encoding approach we have previously discussed emplyoing for ``artist`` and ``label`` features.

For the ``format_description`` feature, we observe that there is a more standardized set of values for the feature, and as such we can simply apply the ``MultiValueCategoricalEncoder`` as in previous sections for features with list datatypes, such as ``genre`` and ``style``.

In [32]:
MultiValueCategoricalEncoder('format_description').fit_transform(formats)

,format_name,format_quantity,format_text,format_description,"format_description_10""","format_description_10.5"" NAB Reel","format_description_11""","format_description_12""",format_description_15 ips,format_description_15/16 ips,...,format_description_VCD,format_description_WAV,format_description_WMA,format_description_WMV,format_description_WavPack,format_description_White Label,format_description_ogg-vorbis,"format_description_¼""","format_description_½""","format_description_⅛"""
0,Shellac,6,None,"[10"", 78 RPM, Album]",1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Shellac,6,None,"[10"", 78 RPM, Album]",1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Shellac,4,None,"[10"", 78 RPM, Album, Reissue]",1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Shellac,6,None,"[10"", 78 RPM, Album, Compilation, Mono]",1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Shellac,5,None,"[10"", 78 RPM, Album]",1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448897,Vinyl,1,None,"[LP, Album, Reissue, Remastered, Stereo]",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
448898,File,1,320,"[MP3, Album]",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
448899,File,1,8 kbps,"[MP3, Album]",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
448900,File,1,None,"[AAC, AIFF, ALAC, FLAC, MP3, ogg-vorbis, WAV, ...",0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
448901,File,52,None,"[ogg-vorbis, Album, Stereo]",0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

Finally, we will One-Hot encode the ``format_name`` feature, as its structure of singular, standardized values in the dataset makes it ideal for such an encoding procedure, as shown below.

In [33]:
formats['format_name'].unique()

array(['Shellac', 'Vinyl', 'Box Set', 'Acetate', 'Reel-To-Reel',
       'RCA Tape Cartridge', 'Tefifon', 'Lathe Cut', '4-Track Cartridge',
       '8-Track Cartridge', 'Cassette', 'PlayTape', 'All Media',
       'Laserdisc', 'Flexi-disc', 'CD', 'VHS', 'VHD', 'DAT', 'Betamax',
       'CDr', 'Floppy Disk', 'DCC', 'Minidisc', 'SACD', 'DVD', 'HD DVD',
       'File', 'Hybrid', 'DVDr', 'Memory Stick', 'Blu-ray', 'Blu-ray-R',
       'Microcassette'], dtype=object)

We implement this One-Hot encoding using the custom ``DummyGenerator`` transformer, which we use in order to be able to apply the One-Hot encoding within our transformation pipeline, without having to forgo the DataFrame format in downstream preprocessing steps.

In [34]:
del formats

#### Step 8 - Create and Encode Time Period Columns

As an additional step of feature engineering, we will utilize the ``year`` feature to encode some information about the distinct eras taking place in the history of Jazz music. This information is obtained from the following source: https://www.preceden.com/timelines/3242-jazz-history, and encodes the following time periods and eras:
- Eras
    - Swing (1925 - 1945)
    - Modern (1940 - 1970)
    - Contemporary (1970 - 2020)
- Periods
    - Big Band (1930 - 1950)
    - Bebop (1940 - 1955)
    - Cool (1950 - 1970)
    - Fusion (1970 - 2020)

In [35]:
TimePeriodEncoder().fit_transform(api_df)[[
    'year','era_modern','era_contemporary','era_swing',
    'period_big_band','period_bebop','period_cool'
]]

,year,era_modern,era_contemporary,era_swing,period_big_band,period_bebop,period_cool
0,1934,0,0,1,1,0,0
1,1934,0,0,1,1,0,0
2,1935,0,0,1,1,0,0
3,1936,0,0,1,1,0,0
4,1937,0,0,1,1,0,0
...,...,...,...,...,...,...,...
448897,2020,0,1,0,0,0,0
448898,2020,0,1,0,0,0,0
448899,2020,0,1,0,0,0,0
448900,2020,0,1,0,0,0,0
448901,2020,0,1,0,0,0,0

## Synthesis
All in all, we combine these steps through the ``api_pipe``, which yields the following output

In [41]:
api_pipe.fit_transform(api_df)

,release_id,year,country,genre,style,label,community_have,community_want,formats,master_id,...,style_Zouk,style_Zydeco,style_Éntekhno,era_swing,era_modern,era_contemporary,period_big_band,period_bebop,period_cool,period_fusion
0,11918321,1934,Canada,"[Jazz, Pop]","[Big Band, Vocal]",decca,1,2,"[{'qty': '6', 'descriptions': ['10""', '78 RPM'...",1354381,...,0,0,0,1,0,0,1,0,0,0
1,10550056,1934,US,"[Jazz, Pop]","[Big Band, Vocal]",decca,4,4,"[{'qty': '6', 'descriptions': ['10""', '78 RPM'...",1354381,...,0,0,0,1,0,0,1,0,0,0
2,6910984,1935,US,[Jazz],[Swing],swing classic,4,2,"[{'descriptions': ['10""', '78 RPM', 'Album', '...",0,...,0,0,0,1,0,0,1,0,0,0
3,12959431,1936,US,[Jazz],[Swing],victor,3,3,"[{'descriptions': ['10""', '78 RPM', 'Album', '...",0,...,0,0,0,1,0,0,1,0,0,0
4,4453491,1937,Canada,[Jazz],[],decca,5,2,"[{'descriptions': ['10""', '78 RPM', 'Album'], ...",1519538,...,0,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448897,14600801,2020,Japan,"[Jazz, Latin, Pop, Folk, World, & Country]","[Contemporary Jazz, Bolero, Cubano, Vocal]",dessinée,4,3,"[{'descriptions': ['LP', 'Album', 'Reissue', '...",1046728,...,0,0,0,0,0,1,0,0,0,1
448898,14609482,2020,"USA, Canada & Europe","[Electronic, Hip Hop, Jazz, Latin, Pop, Folk, ...","[Ambient, Downtempo, Hip Hop, Easy Listening, ...",nailuj,1,0,"[{'descriptions': ['MP3', 'Album'], 'text': '3...",0,...,0,0,0,0,0,1,0,0,0,1
448899,14613847,2020,Germany,"[Electronic, Hip Hop, Jazz, Rock, Funk / Soul,...","[IDM, Downtempo, K-pop, Disco, Synth-pop, Tech...",rubber frog,2,0,"[{'descriptions': ['MP3', 'Album'], 'text': '8...",0,...,0,0,0,0,0,1,0,0,0,1
448900,14658017,2020,US,"[Jazz, Pop, Folk, World, & Country, Stage & Sc...","[Ballad, Vocal, Swing, Novelty, Musical, Music...",,0,0,"[{'descriptions': ['AAC', 'AIFF', 'ALAC', 'FLA...",0,...,0,0,0,0,0,1,0,0,0,1
448901,14719193,2020,US,"[Electronic, Hip Hop, Jazz, Rock, Funk / Soul,...","[Abstract, Acoustic, Ambient, Avantgarde, Ball...",shady monk selfreleased,1,0,"[{'descriptions': ['ogg-vorbis', 'Album', 'Ste...",0,...,0,0,0,0,0,1,0,0,0,1

## Extracted Data
### Loading and Overview

In [42]:
extracted_df = load_from_pkl('extracted',path=DATA_PATH)

In [43]:
Unpickler('track_titles').fit_transform(extracted_df)

,id,release_id,market_price,units_for_sale,have,want,average_rating,rating_count,last_sold,number_of_tracks,running_time,lowest,median,highest,track_titles
0,1,11918321,NaN,NaN,1.0,2.0,NaN,0.0,NaT,12.0,NaN,NaN,NaN,NaN,"[With Every Breath I Take, It's Easy To Rememb..."
1,2,10550056,3.99,3.0,4.0,4.0,4.00,1.0,NaT,12.0,NaN,NaN,NaN,NaN,"[With Every Breath I Take, It's Easy To Rememb..."
2,3,6910984,7.21,3.0,4.0,2.0,NaN,0.0,2019-03-04,8.0,NaN,5.99,5.99,5.99,"[The Music Goes 'Round And 'Round, Sailing At ..."
3,4,12959431,NaN,NaN,3.0,3.0,NaN,0.0,NaT,12.0,NaN,NaN,NaN,NaN,"[Lonely Melody, Mississippi Mud, San, When, Su..."
4,5,4453491,NaN,NaN,5.0,2.0,NaN,0.0,NaT,2.0,NaN,NaN,NaN,NaN,"[For Dancers Only, Coquette]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350580,350581,7340022,11.85,10.0,182.0,89.0,4.42,19.0,2019-12-29,5.0,NaN,10.13,12.61,20.99,"[My Funny Valentine, Blues By Five, Airegin, T..."
350581,350582,12058618,5.61,5.0,2.0,2.0,4.00,1.0,NaT,24.0,NaN,NaN,NaN,NaN,"[Mauvais Garcon, Petite Fleur, Bei Mir Bist Du..."
350582,350583,11534331,1.32,3.0,13.0,1.0,NaN,0.0,NaT,10.0,75.383333,NaN,NaN,NaN,"[Let Me Love Tonight, To See You, Let's Just K..."
350583,350584,1572860,17.97,9.0,42.0,36.0,4.50,6.0,2019-03-28,6.0,72.200000,19.10,22.88,30.34,"[Köhntark (Part 1), Köhntark (Part 2), Kobah..."
350584,350585,11010045,22.46,1.0,2.0,8.0,NaN,0.0,NaT,14.0,NaN,NaN,NaN,NaN,"[Cambridge, Andrew Dreaming, Boutique Music, S..."

The ``extracted_df`` DataFrame represents the data that was obtained from scraping Discogs.com release pages for the albums which were obtained through the initial querying of their API. This data is crucial in being able to build the model estimating the market value of jazz albums, as no price information is divulged by the API, and can only be programmatically obtained through web scraping. Additionally, the release pages for albums on Discogs are additionally informative in that they provide platform-specific metadata which can ultimately be used in predicting market value in the previously outlined full-information scenario. 

What follows is a description of each variable and its relevance to the project:
- ``release_id``
    - As for the ``api_data``, the release_id is the unique identifier for each album release and will form the primary key with which we can later join our data sources
- ``market_price``
    - Records the lowest price at which a given album release is available for on the Discogs.com platform.
        - Releases which have no open listings on the platform have null values
- ``units_for_sale``
    - Records how many units of the album release are available on the Discogs.com platform
- ``average_rating``
    - Records the mean score out of 5 attributed to the album release by Discogs.com users
- ``rating_count``
    - Records the number of ratings that have been submitted for the album release
- ``last_sold``
    - Records the last time the album release was sold on the Discogs.com platform
- ``number_of_tracks``
    - Generated during scraping
    - Records the total number of tracks that are listed for an album release
- ``running_time``
    - Generated during scraping
    - Records the total ``running_time`` of the album in minutes
- ``lowest``, ``median``, ``highest``
    - Record the lowest, median and highest prices each album was sold for on the platform, respectively. 
- ``track_titles``
    - Records the track titles of the ablums

## Transformation Pipeline
As for ``api_df``, we will replicate the transformation pipeline used to process the data scraped from Discogs.com release pages and explain each step of the pipeline in further detail.

In [44]:
from lib.transformers import (
    ColumnRemover,
    ColumnCombiner,
    DuplicateRemover,
    NullRemover,
    StandardCountEncoder,
    LastSoldEncoder
)

In [45]:
market_value_pipe =  Pipeline([
    #Step 3a - Creates the market_value feature by imputing 'median' nulls with market_price values
    ('make_market_value', ColumnCombiner('median','market_price','market_value')),
    #Step 3b - Removes samples with null values for market_value
    ('remove_nulls', NullRemover('market_value')),
    #Step 3c - Removes samples with outlier values for market_value according to 3 standard deviation rule
    ('remove_outliers', OutlierRemover('market_value'))
])

extracted_pipe = Pipeline([
    #Step 1 - Removes unnecessary columns
    ('remove_id', ColumnRemover(['id','last_sold'])),
    #Step 2 - Unpickles the track_titles features
    ('unpickle', Unpickler('track_titles')),
    #Step 3 - Creates and processes the ``market_value`` feature
    ('make_market_value',market_value_pipe),
    #Step 4 - Removes any duplicates present in the release_id feature
    ('remove_duplicates', DuplicateRemover('release_id')),
    #Step 5 - Counts the number of Jazz standards each album has
    ('count_standards',StandardCountEncoder('track_titles',DATA_PATH))
])

In comparison to the ``api_df`` DataFrame, the ``extracted_df`` DataFrame is far less unwieldy and messy, and instead requires only small adjustments to be made to the core features, as well as some additional transformations for feature engineering purposes.

#### Step 1 - Removing unnecessary features
We decide to remove the ``last_sold`` feature due to it having an untenable number of null values, and due to the high variation in the ranges in which albums have last been sold for the albums in question, the missing values cannot be imputed in good conscience. As such, the feature is dropped from the dataset.

In [46]:
extracted_df['last_sold'].isna().sum()

149643

#### Step 2 - Unpickling ``track_titles``
The ``track_titles`` feature is stored as a list, and as such needed to be pickled before being saved to the SQL database that was used for the intermediate storing of data during scraping. As such, we unpickle it here for downstream processing.

#### Step 3 - Creating & processing the ``market_value`` feature
There are two features in the ``extracted_df`` dataset that could conceivably be used as the target feature in our machine learning models to predict the market value of a given Jazz album, namely ``market_price`` and ``median``. Without missing data, it would be preferable to use the ``median`` price for the ``market_value`` of a given record, as the value of ``market_price`` is contingent on the period in which the data was scraped and may not be an accurate representation of what price the album is generally valued at in the market. Furthermore, as the ``market_price`` is the lowest price that a given record is being sold for, it could be that the reason for the price being so low is due to the poor quality of the record, a feature which is not captured in our data but is available in separate listings view of the record, which has been left out of the scope of this project in the interest of time, as it would have required the scraping the results of another 350k web requests to the Discogs.com servers. 
However, as we can see below, we do not have access to the ``median`` price for around 150,000 albums, and as such a sole reliance on this attribute would mean we would no longer be able to incorporate these albums in our analysis. In order to minimize the amount of data that must be discarded, we take the approach of combining the ``market_price`` and ``median`` features by filling the missing values of ``median`` with the values of ``market_price``. The rationale behind this combination of features is that a missing value for ``median_price`` indicates that the album in question has never been sold on the Discogs.com platform. Why this is the case could be down to a number of reasons, such as the album being fairly niche, new on the market or not particularly popular among the types of users that Discogs.com attracts. As such, we can noisily impute the value of the record by the supply-side valuation of the album in order to reduce the number of samples that must be removed from the dataset.

In [47]:
extracted_df.loc[:,['market_price','median']].isna().sum()

market_price     73179
median          149643
dtype: int64

In [48]:
market_value_features = ColumnCombiner('median','market_price','market_value').fit_transform(extracted_df).loc[:,['market_value','median','market_price']]

In [49]:
market_value_features.isna().sum()

market_value     53015
median          149643
market_price     73179
dtype: int64

As we can see from the above, post-imputation it is possible to keep around 100,000 samples in the dataset for training our machine learning models. Nevertheless, we must still remove the entries for which ``market_value`` is null, as well as those samples that have outlier values, which we achieve using the ``NullRemover`` and ``OutlierRemover`` transformers

In [50]:
OutlierRemover('market_value').fit_transform(
    NullRemover('market_value').fit_transform(
        market_value_features
    )
).describe()

        market_value         median  market_price
count  296182.000000  200052.000000  2.763550e+05
mean       16.670725      16.510153  3.785671e+02
std        20.509967      20.301635  1.902244e+05
min         0.010000       0.010000  1.000000e-02
25%         6.000000       6.030000  5.000000e+00
50%        10.880000      10.830000  9.840000e+00
75%        19.500000      19.230000  1.833000e+01
max       235.539112     235.539112  1.000000e+08

As we can see from the output above, by removing the nulls and outliers from the ``market_value`` feature, we manage to obtain a very similar distribution to the ``median`` feature we would have otherwise preferred from the original dataset.

In [51]:
del market_value_features

#### Step 4 - Removing Duplicates

As in the processing of ``api_data``, it is critical that we discard the duplicate values of ``release_id`` in our dataset.

In [52]:
print('Number of duplicates is: ',len(extracted_df)-len(DuplicateRemover('release_id').fit_transform(extracted_df)))

Number of duplicates is:  32

#### Step 5 - Count number of standards per Jazz album
In an attempt to inject our data with some additional domain knowledge, we will analyze the ``track_titles`` feature of the ``extracted_data`` DataFrame and seek to identify the number of Jazz standards that each album has on its tracklist. Jazz Standards are pieces of music which are commonly covered by artists within the Jazz community, and provide a possible entrypoint of prospective customers to purchasing the record, as they may be more likely to recognize a certain track on a record, and therefore be more incentivized to buy it. Generally, audiences enjoy hearing another artist's take on an old classic, which makes this feature of Jazz music culture a possibly informative feature to be added for our modelling. 
We accomplish this via a similar method as was employed in the ``FeatureCleanReduce`` inheriting estimators, by using TF-IDF with n-grams in order to compare the ``track_titles`` for each album with a third-party list of accepted Jazz standards (https://en.wikipedia.org/wiki/List_of_jazz_standards), and attempting to find high probability matches.

In [53]:
standards = StandardCountEncoder(path=DATA_PATH).fit_transform(
    Unpickler('track_titles').fit_transform(extracted_df))

HBox(children=(FloatProgress(value=1.0, bar_style='info', max=1.0), HTML(value='')))

In [54]:
del standards

## High Level Features
#### Loading and Overview
For the final component dataset that we will use to model the meta-characteristics of Jazz albums, we will utilize a learned representation of the cover images of each album and feed this as input into our final machine learning model. This step serves to act as the visual information the customer considers when evaluating a given album for purchase. 

In order to obtain the learned representation, we followed the following steps:
1. Download the cover images for each release_id in the ``api_data`` dataset
    a. This was done while scraping the data from Discogs.com for the ``extracted_data`` dataset, as the cover images are to be found on these pages
    b. This step is enabled by the ImageScraper Class to be found in the data/util/scrape.py module
2. Utilize a pre-trained Neural Network, MobileNetV2 in this case, from TFHub to extract the high level features from each of the cover images
    a. For the pre-trained model used in this project, we obtain a vector of 1280 high-level features representing the learned representation of each image by the MobileNetV2 model
    b. This step is enabled by the FeatureExtractor Class to be found in the data/util/scrape.py module
    
The scraping and feature extraction has been finalized in advance, and the high-level feature matrix has been saved in the ``data/data/high_level_features.npz`` file. We load the file below and display it for reference

In [55]:
with np.load(os.path.join(DATA_PATH,'high_level_features.npz')) as file:
    high_level_features_df = pd.DataFrame(file['data'].reshape(350330,1280))
    high_level_features_df['release_id'] = file['label']
    high_level_features_df['release_id'] = high_level_features_df['release_id'].str.replace('bitmap_','').str.replace('.png','')